{% extends 'ThemesBundle::backend.html.twig' %}
{% block body -%}
    <h1>Creación de Cursos Virtuales</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cursosvirtuales') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
