{% extends 'ThemesBundle::backend.html.twig' %}
{% block body -%}
    <h1>Editar Oficinas</h1>

    {{ form(edit_form) }}

    <hr>
        <a href="{{ path('oficinas_admin') }}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>
            Volver al listado
        </a>
    {{ form(delete_form) }}
{% endblock %}
