{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Crear Oficinas</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('oficinas_admin') }}">
           Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
