{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Crear pasos para <i>{{ ofertaIns.tituloOferta }}</i></h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ofertasinstitucionales_show', { 'id': oferta }) }}">Volver</a>
       
    </li>
</ul>
{% endblock %}
