{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Editar Servicios</h1>

    {{ form(edit_form) }}
    <hr>
        <a href="{{ path('servicios') }}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>
            Volver al listado
        </a>
    {{ form(delete_form) }}
{% endblock %}
