{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Crear Seccionales</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('seccionales') }}">
            Volver al Listado
        </a>
    </li>
</ul>
{% endblock %}
