{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
     <div class="panel panel-default">
         <div class="panel-heading"><h3 class="panel-title">Crear Seccionales</h3></div>
<div class="panel-body">
    {{ form(form) }}

    <hr>
    <a href="{{ path('seccionales') }}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>
            Volver al Listado
        </a>
    
</div>
     </div>
{% endblock %}
