{% extends 'ThemesBundle::plantilla2.html.twig' %}
{% block body %}
<div class="jumbotron">
                <h1>
                    Proces agro!
                </h1>
                <p>
                    Todos tus servicios en la palma de tu mano. Puedes descargar la app para android
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="https://github.com/WybleTeam/ProcesAgroAndroidFull/blob/master/app/app-release.apk?raw=true">Descárgala</a>
                </p>
</div>

<div class="container">
<div class="row">
      <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h2>
                                        Cursos Virtuales
                                    </h2>
                                    <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion-laptop"></i>
                                    
                                </div>
                                <a href="{{ path("proces_cursosvirtuales_homepage") }}" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                          <div class="small-box bg-green">
                                <div class="inner">
                                    <h2>
                                    AgroMapas
                                    </h2>
                                 <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion-ios7-people-outline"></i>
                                </div>
                                <a href="http://www.agronet.gov.co/agronetweb1/Agromapas.aspx" target="_blank" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                          <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h2>
                                     SIPSA
                                    </h2>
                                    
                                    <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-cash"></i>
                                </div>
                                <a href="https://www.dane.gov.co/index.php/agropecuario-alias/sistema-de-informacion-de-precios-sipsa" class="small-box-footer" target="_blank">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h2>
                                Siembra
                                    </h2>
                                    <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion-clipboard"></i>
                                </div>
                                <a href="http://www.siembra.gov.co/" class="small-box-footer" target="_blank">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        {#<div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h2>
                               Convocatoria 007
                                    </h2>
                                    <p>Aquí descripción de convocatoría.</p>
                             <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-cart-outline"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>#}<!-- ./col -->
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-purple">
                                <div class="inner">
                                    <h2>
                                       Identifica-Sistema nacional de 
                                    </h2>
                                    <h2>Identificación e Información del</h2>
                                    <h2>ganado bovino bufalino</h2>
                                    <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="icon-align-right"></i>
                                </div>
                                <a href="{{ path('solmantenimiento_new') }}" class="small-box-footer" target="_blank">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h2>
                                    Autorización a Certificadoras 
                                    </h2>
                                    <h2>de Productos Ecológicos</h2>
                                  <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-log-out"></i>
                                </div>
                                <a href="https://www.minagricultura.gov.co/tramites-servicios/Paginas/Sello-Ecologico.aspx" class="small-box-footer" target="_blank">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-maroon">
                                <div class="inner">
                                    <h2>
                                    Trámite Tarjeta Profesional 
                                    </h2>
                                    
                                  <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion-log-out"></i>
                                </div>
                                <a href="https://www.minagricultura.gov.co/tramites-servicios/Paginas/Tramite-Tarjeta-Profesional.aspx" class="small-box-footer" target="_blank">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h2>
                                   Certificado de Incentivo Forestal    
                                    </h2>
                                    
                                  <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-log-out"></i>
                                </div>
                                <a href="https://www.minagricultura.gov.co/tramites-servicios/apoyos-incentivos/Paginas/Certificado-de-Incentivo-Forestal-CIF-2013-v2.aspx" class="small-box-footer" target="_blank">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-12 col-xs-12">
                            <!-- small box -->
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h2>
                                  Incentivo a la Capitalización Rural
                                    </h2>
                                    <h2>Programa DRE</h2>
                                  <p><br></p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-log-out"></i>
                                </div>
                                <a href="https://www.minagricultura.gov.co/tramites-servicios/credito-agropecuario/Paginas/Incentivo-a-la-Capitalizacion-Rural-Programa-DRE-v2.aspx" class="small-box-footer" target="_blank">
                                    Mas información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
      </div>                  
</div>       
 
{% endblock %}
