{% extends 'ThemesBundle::plantilla2.html.twig' %}
{% block body %}
<div class="jumbotron">
				<h1>
					Proces agro!
				</h1>
				<p>
					Todos tus servicios en la palma de tu mano. Puedes descargar la app para android
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="https://github.com/WybleTeam/procesAgroAndroid/blob/master/app/app-release.apk?raw=true">Descárgala</a>
				</p>
</div>

<div class="container">
<div class="row">
      <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h2>
                                        Cursos 
                                    </h2>
                                   <p>VIRTUALES.</p>
                                </div>
                                <div class="icon">
                                    <i class="ion-laptop"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                          <div class="small-box bg-green">
                                <div class="inner">
                                    <h2>
                                    Pequeños Productores
                                    </h2>
                                 
                                </div>
                                <div class="icon">
                                    <i class="ion-ios7-people-outline"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                          <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                     SIPSA
                                    </h3>
                                    
                                    <p></p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-cash"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h2>
                                E-Granja
                                    </h2>
                                    
                                </div>
                                <div class="icon">
                                    <i class="ion-clipboard"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h2>
                               Convocatoria 007

                                    </h2>
                                <p>Aquí descripción de convocatoría.</p>                             
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-cart-outline"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-purple">
                                <div class="inner">
                                    <h1>
                                       Identifica-Sistema nacional de identificación e información del ganado bovino bufalino
                                    </h1>
                                    
                                </div>
                                <div class="icon">
                                    <i class="ion-ios7-compose-outline"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h2>
                                    Certificado  Fitosanitario para Exportación - CFE
                                    </h2>
                                  
                                </div>
                                <div class="icon">
                                    <i class="ion ion-log-out"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-maroon">
                                <div class="inner">
                                    <h2>
                                    Certificado  Fitosanitario para Exportación - CFE
                                    </h2>
                                  
                                </div>
                                <div class="icon">
                                    <i class="ion-log-out"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h2>
                                   Administración del incentivo a la asistencia tecnica   
                                    </h2>
                                  
                                </div>
                                <div class="icon">
                                    <i class="ion ion-log-out"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Más información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h2>
                                   KANPO
                                    </h2>
                                  
                                </div>
                                <div class="icon">
                                    <i class="ion ion-log-out"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    Mas información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        
                    </div>                  
</div>       
 
{% endblock %}