{% extends 'ThemesBundle::plantilla2.html.twig' %}
{% block body %}
<div class="jumbotron">
				<h1>
					Proces agro!
				</h1>
				<p>
					Todos tus servicios en la palma de tu mano. Puedes descargar la app para android
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="https://github.com/WybleTeam/procesAgroAndroid/blob/master/app/app-release.apk?raw=true">Descárgala</a>
				</p>
</div>
 
{% endblock %}