{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
       <div class="panel panel-default">
            
            
           <div class="panel-heading"><h3 class="panel-title">Creación de Estado</h3></div>
           <div class="panel-body">

    {{ form(form) }}

    <hr>
        <a href="{{ path('estado') }}" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>
            Volver al listado
        </a>
    
           </div>
       </div>
{% endblock %}
