{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Crear Rango Edades</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('rangoedades') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
