{% extends 'ThemesBundle::plantilla2.html.twig' %}

{% block body -%}
    <h1>Crear Sol Mantenimiento Identificacion</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('solmantenimientoidentificacion') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
