{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
   <div class="panel panel-default">
            
            
       <div class="panel-heading"><h3 class="panel-title">Editar Solicitud Cantidad Motivo</h3></div>
<div class="panel-body"> 
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('solicitudcantidadmotivo') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
   </div>
{% endblock %}
