{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
      <div class="panel panel-default">
            
            
          <div class="panel-heading"><h3 class="panel-title">Crear Solicitud Cantidad Motivo</h3></div>
<div class="panel-body"> 
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('solicitudcantidadmotivo') }}">
            Volver al listado
        </a>
    </li>
</ul>
</div>
      </div>
{% endblock %}
