{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Crear Motivo Identificación</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('motivoidentificacion') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
